@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?5wzs9v');
  src:  url('../fonts/icomoon.eot?5wzs9v#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?5wzs9v') format('truetype'),
    url('../fonts/icomoon.woff?5wzs9v') format('woff'),
    url('../fonts/icomoon.svg?5wzs9v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bus_custom:before {
  content: "\e900";
}
.icon-home2:before {
  content: "\e901";
}
